@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world! Pratap </h1>

Welcome to your new app Pratap.
<br>
Welcome to your new app Anoop.
<br>
Welcome to your new app Prity
<br>
Hello This  is my firstapplication git project 

